/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  /* Variables */
  :root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
  }
  
  /* Fonts */
  @font-face {
    font-family: "Outfit";
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: "Young Serif";
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
  }
  
  /* Global Styles */
  body {
    background-color: var(--rose50);
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  
  /* Headings */
  h1, h3 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    margin: 20px 0;
  }
  
  h1 {
    font-size: 2.6rem;
  }
  
  h3 {
    color: var(--brown800);
    font-size: 1.8rem;
  }
  
  h2 {
    color: var(--rose800);
    font-size: 1.1rem;
  }
  
  span {
    font-weight: 700;
  }
  
  p {
    color: var(--stone600);
    line-height: 1.6rem;
  }
  
  hr {
    margin: 40px 0;
    opacity: 0.3;
  }
  
  /* Recipe Page */
  .recipe-page {
    background-color: var(--white);
    border-radius: 30px;
    padding: 40px;
    max-width: 750px;
    margin-bottom: 50px;
  }
  
  /* Intro */
  .intro__image img {
    border-radius: 15px;
    width: 100%;
  }
  
  .intro__preparation {
    background-color: var(--rose50);
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px;
  }
  
  /* Lists */
  .preparation__time-list,
  .ingredients__list,
  .instructions__list {
    padding-left: 25px;
  }
  
  .preparation__time-item,
  .ingredients__item,
  .instructions__item {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  
  .preparation__time-item::marker,
  .ingredients__item::marker,
  .instructions__item::marker {
    color: var(--brown800);
    font-weight: bold;
  }
  
  /* Nutrition */
  .nutrition__description {
    margin-bottom: 20px;
  }
  
  .nutrition__table {
    border-collapse: collapse;
    padding-left: 30px;
    width: 100%;
  }
  
  tr:not(:last-child) {
    border-bottom: 1px solid var(--stone150);
  }
  
  td {
    padding: 15px;
  }
  
  td:first-child {
    color: var(--stone600);
  }
  
  td:last-child {
    color: var(--brown800);
    font-weight: bold;
  }
  